{% load static %}
<header class="topbar">
  <img class="topbar-brand" src="{% static 'dashboard/img/transit-logo.png' %}" alt="Transit Training and Recruitment Partner">
  <div class="topbar-welcome">
    <img class="avatar-sm" src="https://ui-avatars.com/api/?name={{ profile.user.first_name }}+{{ profile.user.last_name }}&background=16274d&color=fff" alt="avatar">
    <div>
      <h2>{{ page_title }}</h2>
      <p>{{ page_subtitle }}</p>
    </div>
  </div>
  <div class="topbar-actions">
    <div class="icon-btn"><i class="fa-regular fa-bell"></i></div>
    <div class="user-chip">
      <img class="avatar-sm" src="https://ui-avatars.com/api/?name={{ profile.user.first_name }}+{{ profile.user.last_name }}&background=16274d&color=fff" alt="avatar">
      <div>
        <span class="user-name">{{ profile.user.first_name }} {{ profile.user.last_name }}</span>
        <span class="user-role">{{ user_role_label }}</span>
      </div>
      <i class="fa-solid fa-chevron-down"></i>
    </div>
  </div>
</header>
