{% extends "portal/_page_base.html" %}
{% block title %}Reports & Analytics · Transit Nexus{% endblock %}
{% block content %}
<section class="panel">
  <div class="panel-head"><h3>Available Reports</h3></div>
  <div class="quick-links">
    <a href="#" class="quick-link"><i class="fa-solid fa-building-columns"></i> College Performance Report</a>
    <a href="#" class="quick-link"><i class="fa-solid fa-user-graduate"></i> Student Enrollment Report</a>
    <a href="#" class="quick-link"><i class="fa-solid fa-clipboard-list"></i> Assessment Analysis Report</a>
    <a href="#" class="quick-link"><i class="fa-solid fa-file-invoice-dollar"></i> Revenue & Payments Report</a>
    <a href="#" class="quick-link"><i class="fa-solid fa-user-tie"></i> Placement Report</a>
    <a href="#" class="quick-link"><i class="fa-solid fa-headset"></i> Support Ticket Report</a>
  </div>
</section>
{% endblock %}
